# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# System files
.DS_Store

# Temporary files
temp/
tmp/

# Coverage files
coverage/

# IDE files (если используете WebStorm, VS Code или другой редактор)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln